.vericite-report .vericite-rank-10,
.vericite-report .vericite-rank-9,
.vericite-report .vericite-rank-8,
.vericite-report .vericite-rank-7,
.vericite-report .vericite-rank-6,
.vericite-report .vericite-rank-5,
.vericite-report .vericite-rank-4,
.vericite-report .vericite-rank-3,
.vericite-report .vericite-rank-2,
.vericite-report .vericite-rank-1 {
       color: #FFFFFF;
       font-weight: bold;
       padding: 2px;
}

.vericite-report .vericite-rank-1 {
       background-color: #CF0000;
}

.vericite-report .vericite-rank-2 {
       background-color: #F15A24;
}

.vericite-report .vericite-rank-3 {
       background-color: #F7931E;
}

.vericite-report .vericite-rank-4 {
       background-color: #FBB03B;
}

.vericite-report .vericite-rank-5 {
       background-color: #FFE313;
}

.vericite-report .vericite-rank-6 {
       background-color: #D9E021;
}

.vericite-report .vericite-rank-7 {
       background-color: #8CC63F;
}

.vericite-report .vericite-rank-8 {
       background-color: #22B573;
}

.vericite-report .vericite-rank-9 {
       background-color: #00AEE3;
}

.vericite-report .vericite-rank-10 {
       background-color: #196DD2;
}
