/**
 * File styles.css.
 * Contains vendor-prefixed declarations for the VeriCite plagiarism 
 * detection service.
 */

.vericite-report .vericite-rank-10,
.vericite-report .vericite-rank-9,
.vericite-report .vericite-rank-8,
.vericite-report .vericite-rank-7,
.vericite-report .vericite-rank-6,
.vericite-report .vericite-rank-5,
.vericite-report .vericite-rank-4,
.vericite-report .vericite-rank-3,
.vericite-report .vericite-rank-2,
.vericite-report .vericite-rank-1 {
    color: #fff;
    font-weight: bold;
    padding: 0.2em;
}

.vericite-report .vericite-rank-1 {
    background-color: #cf0000;
}

.vericite-report .vericite-rank-2 {
    background-color: #f15a24;
}

.vericite-report .vericite-rank-3 {
    background-color: #f7931e;
}

.vericite-report .vericite-rank-4 {
    background-color: #fbb03b;
}

.vericite-report .vericite-rank-5 {
    background-color: #ffe313;
}

.vericite-report .vericite-rank-6 {
    background-color: #d9e021;
}

.vericite-report .vericite-rank-7 {
    background-color: #8cc63f;
}

.vericite-report .vericite-rank-8 {
    background-color: #22b573;
}

.vericite-report .vericite-rank-9 {
    background-color: #00aee3;
}

.vericite-report .vericite-rank-10 {
    background-color: #196dd2;
}
