<?php
/**
 * AssignmentsApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * VeriCiteLmsApiV1
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * AssignmentsApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class AssignmentsApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return AssignmentsApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation createUpdateAssignment
     *
     * 
     *
     * @param string $context_id Context ID (required)
     * @param string $assignment_id ID of assignment (required)
     * @param string $consumer the consumer (required)
     * @param string $consumer_secret the consumer secret (required)
     * @param \Swagger\Client\Model\AssignmentData $assignment_data  (required)
     * @param bool $encrypted Flag to indicate encryption (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\InlineResponse200[]
     */
    public function createUpdateAssignment($context_id, $assignment_id, $consumer, $consumer_secret, $assignment_data, $encrypted = null)
    {
        list($response) = $this->createUpdateAssignmentWithHttpInfo($context_id, $assignment_id, $consumer, $consumer_secret, $assignment_data, $encrypted);
        return $response;
    }

    /**
     * Operation createUpdateAssignmentWithHttpInfo
     *
     * 
     *
     * @param string $context_id Context ID (required)
     * @param string $assignment_id ID of assignment (required)
     * @param string $consumer the consumer (required)
     * @param string $consumer_secret the consumer secret (required)
     * @param \Swagger\Client\Model\AssignmentData $assignment_data  (required)
     * @param bool $encrypted Flag to indicate encryption (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\InlineResponse200[], HTTP status code, HTTP response headers (array of strings)
     */
    public function createUpdateAssignmentWithHttpInfo($context_id, $assignment_id, $consumer, $consumer_secret, $assignment_data, $encrypted = null)
    {
        // verify the required parameter 'context_id' is set
        if ($context_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $context_id when calling createUpdateAssignment');
        }
        // verify the required parameter 'assignment_id' is set
        if ($assignment_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $assignment_id when calling createUpdateAssignment');
        }
        // verify the required parameter 'consumer' is set
        if ($consumer === null) {
            throw new \InvalidArgumentException('Missing the required parameter $consumer when calling createUpdateAssignment');
        }
        // verify the required parameter 'consumer_secret' is set
        if ($consumer_secret === null) {
            throw new \InvalidArgumentException('Missing the required parameter $consumer_secret when calling createUpdateAssignment');
        }
        // verify the required parameter 'assignment_data' is set
        if ($assignment_data === null) {
            throw new \InvalidArgumentException('Missing the required parameter $assignment_data when calling createUpdateAssignment');
        }
        // parse inputs
        $resourcePath = "/assignments/{contextID}/{assignmentID}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($encrypted !== null) {
            $queryParams['encrypted'] = $this->apiClient->getSerializer()->toQueryValue($encrypted);
        }
        // header params
        if ($consumer !== null) {
            $headerParams['consumer'] = $this->apiClient->getSerializer()->toHeaderValue($consumer);
        }
        // header params
        if ($consumer_secret !== null) {
            $headerParams['consumerSecret'] = $this->apiClient->getSerializer()->toHeaderValue($consumer_secret);
        }
        // path params
        if ($context_id !== null) {
            $resourcePath = str_replace(
                "{" . "contextID" . "}",
                $this->apiClient->getSerializer()->toPathValue($context_id),
                $resourcePath
            );
        }
        // path params
        if ($assignment_id !== null) {
            $resourcePath = str_replace(
                "{" . "assignmentID" . "}",
                $this->apiClient->getSerializer()->toPathValue($assignment_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($assignment_data)) {
            $_tempBody = $assignment_data;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\InlineResponse200[]',
                '/assignments/{contextID}/{assignmentID}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\InlineResponse200[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\InlineResponse200[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\InlineResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\InlineResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\InlineResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 0:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\InlineResponse400', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
